<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%-style%>
    </head>
    <body>
        <%-include('header');%>
        <!-- body is an inbuilt function which takes the suitable ejs file present in views
        we dont know it before hand in our case it is rendering home.ejs -->
        <%-body%>
        <%-include('footer');%>
        <%-script%>
    </body>
</html>